/* Header/Footer */
.header,
.footer {
  background: var(--secondary);
  color: var(--foreground);
}
.header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 10;
}
.header a,
.footer a {
  color: var(--foreground);
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0.5rem;
  z-index: 12;
}
.footer p,
.footer p a,
.sidebar a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.logo {
  position: relative;
}
.logo::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 3px;
  background: var(--foreground);
  bottom: 0;
  left: 0;
}
.buttons {
  display: flex;
  gap: 10px;
}

/* Sidebar */
.sidebar {
  background: var(--foreground);
  width: 230px;
  position: fixed;
  top: 70px;
  height: 100%;
  border-radius: 0 20px 0 0;
  padding-left: 1rem;
  z-index: 11;
  &,
  & > ul > li > a {
    color: var(--text);
  }
}
.sidebar h4 {
  font-size: 1.4em;
  font-weight: 400;
  margin: 4rem 0 0.5rem;
}
.sidebar ul li {
  font-weight: 300;
  font-size: 1.2em;
  margin: 0.5rem 0;
}
.section {
  width: calc(100% - 230px);
  position: absolute;
  top: 100px;
  right: 0;
  padding: 1rem;
}
.section * {
  color: var(--text);
}
