.box {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  & > form > h3 {
    font-size: 1.8em;
  }
}
.box form {
  width: 400px;
}
.box button[type="submit"] {
  color: var(--foreground);
  margin: 0.5rem 0 0;
}
.visibilityEye {
  position: relative;
  & > button {
    padding: 0;
    position: absolute;
    right: 0.5rem;
    top: 55%;
    transform: translate(0, -50%);
    font-size: 1.3em;
    opacity: 50%;
  }
}
.error {
  background: var(--danger);
  margin: 0.5rem 0 0;
  border-radius: 5px;
  padding: 0.4rem 1.2rem;
  text-transform: capitalize;
}
