:root {
  --background: #e3fe90;
  --foreground: #000000;
  --primary: #6cd900;
  --secondary: #38b000;
  --danger: #ff2929;
  --success: #00409a;
  --warning: #ffd000;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: var(--background);
  color: var(--foreground);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: all linear 0.3s;
}
a {
  color: var(--foreground);
  &:hover {
    opacity: 70%;
  }
}
.btn {
  border: none;
  outline: none;
  background: transparent;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  color: var(--foreground);
  &:hover {
    opacity: 70%;
  }
}
.btn-primary {
  background: var(--primary);
}
.btn-secondary {
  background: var(--secondary);
}
.btn-primary-outline {
  border: 1px solid var(--primary);
}
.btn-secondary-outline {
  border: 1px solid var(--secondary);
}
