:root {
  --background: #f0f0f0;
  --foreground: #ffffff;
  --primary: #0091ff;
  --secondary: #3f47f4;
  --danger: #ff8383;
  --success: #00409a;
  --warning: #ffd000;
  --text: #181818;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: var(--background);
  color: var(--foreground);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: all linear 0.3s;
}
body {
  position: relative;
  min-height: 100vh;
}
a {
  color: var(--foreground);
  &:hover {
    opacity: 70%;
  }
}
.btn {
  border: none;
  outline: none;
  background: transparent;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  color: var(--foreground);
  &:hover {
    opacity: 70%;
  }
}
.btn-primary {
  background: var(--primary);
}
.btn-secondary {
  background: var(--secondary);
}
.title {
  font-size: 1.4em;
  font-weight: 400;
  margin: 0 0 1rem;
}
input {
  width: 100%;
  border: 1px solid var(--primary);
  border-radius: 5px;
  margin: 0.2rem 0;
  padding: 0.6rem 1.2rem;
  font-size: 1.2em;
  &:focus {
    outline: 1px solid var(--secondary);
  }
}
button[type="submit"] {
  width: 100%;
  font-size: 1.2em;
}
